.navbar-brand,
h1, h2, h3, h4 {
  font-family: Pacifico,cursive;
}

.banner {
  align-items: center;
  display: flex;
  height: 200px;
  background-position: center;
}

.banner h1 {
  text-shadow: 2px 2px 8px #000;
}

.thumbnail {
  height: 200px;
  width: 200px;
}

.placeholder {
  background-color: #999;
}
