h1, h2, h3, h4,
.navbar-brand,
.signature {
  font-family: Pacifico,cursive;
}

.banner {
  align-items: center;
  display: flex;
  background-position: center;
  height: 200px;
}

.banner h1 {
  text-shadow: 2px 2px 8px #000;
}

.banner.home {
  background-image: url('/static/images/home_banner.jpg');
  height: 600px;
}

.banner.event {
  background-image: url('/static/images/event_banner.jpg');
}

.banner.registry {
  background-image: url('/static/images/registry_banner.jpg');
  background-position: 83% center;
}

.banner.rsvp {
  background-image: url('/static/images/rsvp_banner.jpg');
}

.light-green {
  background-color: #c8e6c9;
}

.light-red {
  background-color: #ffcdd2;
}

.album {
  max-width: 840px;
  text-align: center;
}

.carousel-item {
  background: #212121;
  max-height: 720px;
}

.registry-logo {
  height: 200px;
  width: 300px;
  padding: 32px
}

.registry-logo:hover {
  opacity: .6;
}
