{% extends "common/base.html" %}

{% block navbar %}{% include "common/navbar.html" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col my-3">
    <h1 class="mb-3">Populate Guestlist</h1>
    <form action="/admin/populate" method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label>guest_list.csv</label>
        <input type="file" class="form-control{% if guest_list_err %} is-invalid{% endif %}" name="guest_list">
        <div class="invalid-feedback">
          {{ guest_list_err }}
        </div>
      </div>
      <div class="mb-3">
        <label>location_list.csv</label>
        <input type="file" class="form-control{% if location_list_err %} is-invalid{% endif %}" name="location_list">
        <div class="invalid-feedback">
          {{ location_list_err }}
        </div>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="delete" value="delete" id="delete">
        <label class="form-check-label" for="delete">
          Delete all data (including RSVPs)
        </label>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
