{% extends "common/base.html" %}

{% block navbar %}{% include "common/navbar.html" %}{% endblock %}

{% block content %}
  {% if is_ca %}
  <div class="row my-2">
    <div class="col banner">
      <h1 class="display-4 text-white">Event Details</h1>
    </div>
  </div>
  <div class="row">
    {% if is_ca_tea %}
    <div class="col-sm text-center">
      <h2>Tea Ceremony</h2>
      <p>Time & Location TBD</p>
    </div>
    {% endif %}
    <div class="col-sm text-center">
      <h2>Ceremony &amp; Reception</h2>
      <p>
        August 4, 2018<br/>
        5:00 PM &mdash; 10:00 PM
      </p>
      <p>
        Trentadue<br/>
        19170 Gesyerville Ave<br/>
        Geyserville, CA, 95441
      </p>
      <p>
        <a href="http://trentadue.com" target="_blank">Website</a> |
        <a href="https://goo.gl/maps/W46QrTwACgL2" target="_blank">Map</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Accommodations</h2>
      <p>
        We set aside a block of rooms for Friday and Saturday at XXXXX. The
        group rate is $XXX a night, and is valid until June 18th, 2018.
      </p>
      <p>
        Please let us know if you have any trouble getting a room&ndash;we will
        increase the number we have blocked if you do.
      </p>
      <p>
        You can click
        <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/S/STSWIHX-CHI-20180803/index.jhtml?WT.mc_id=POG" target="_blank">this link</a>
        to reserve a room.
      </p>
      <p>
        Given peak season (summer in wine country), hotel prices are higher than
        usual for the August weekend. As such, we recommend looking into other
        options such as house rentals through Airbnb or VRBO.
      </p>

      <h2>Travel and Transportation</h2>
      <h3>San Francisco International Airport</h3>
      <p>
        SFO is the closest airport, located about 15 miles south of San
        Francisco. Geyserville is approximately a 1.5 hour drive north of San
        Francisco downtown.
      </p>

      <h3>Oakland International Airport</h3>
      <p>Oakland Airport is about 22 miles east of San Francisco.</p>

      <h2>Transportation on Wedding Day</h2>
      <p>
        If you prefer not to drive, a shuttle will be picking up passengers at a
        stop in Santa Rosa, Windsor, and Healdsburg (exact locations TBD) to the
        wedding ceremony/reception at Trentadue Winery. A shuttle will also be
        provided from Trentadue Winery back to Healdsburg, Windsor and Santa
        Rosa after the wedding. Please check back soon for shuttle times.
      </p>
      <p>
        There is plenty of parking at Trentadue Winery, so you may also drive to
        the venue. Other options are ride-sharing services including Uber or
        Lyft.
      </p>
    </div>
  </div>
  {% endif %}
{% endblock %}
