{% extends "common/base.html" %}

{% block navbar %}{% include "common/navbar.html" %}{% endblock %}

{% block content %}
  {% if is_ca %}
  <div class="row my-2">
    <div class="col banner">
      <h1 class="display-4 text-white">Event Details</h1>
    </div>
  </div>
  <div class="row">
    {% if is_ca_tea %}
    <div class="col-sm text-center">
      <h2>Tea Ceremony</h2>
      <p>
        Saturday, August 4th, 2018<br/>
        Time & Location TBD
      </p>
    </div>
    {% endif %}
    <div class="col-sm text-center">
      <h2>Ceremony &amp; Reception</h2>
      <p>
        Saturday, August 4, 2018<br/>
        5:00 PM &ndash; 10:00 PM
      </p>
      <p>
        Trentadue<br/>
        19170 Gesyerville Ave<br/>
        Geyserville, CA, 95441
      </p>
      <p>
        <a href="http://trentadue.com" target="_blank">Website</a> |
        <a href="https://goo.gl/maps/W46QrTwACgL2" target="_blank">Map</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Accommodations</h2>
      <p>
        If you plan on staying overnight before or after the wedding, we
        recommend either a hotel in Healdsburg or Windsor, or a house rental
        through sites such as
        <a href="https://www.airbnb.com/" target="_blank">Airbnb</a> or
        <a href="https://www.vrbo.com/" target="_blank">VRBO</a>. A few hotels
        we recommend are:
      </p>
      <ul>
        <li>Hampton Inn & Suites Windsor</li>
        <li>Holiday Inn Windsor Wine Country</li>
        <li>Holiday Inn Express Windsor Sonoma Wine Country</li>
        <li>Hotel Healdsburg</li>
      </ul>

      <h2>Wedding Day Transportation</h2>
      <p>
        Trentadue has plenty of parking, so driving to the venue should not be a
        problem. The winery is located approximately 10 minutes north of
        Healdsburg, 15 minutes north of Windsor, and 25 minutes north of Santa
        Rosa.
      </p>
      <p>
        If you prefer not to drive, we are planning on providing a shuttle from
        Windsor and Healdsburg which will pick up before the ceremony and return
        after the reception. The exact details are still to be determined, but
        please let us know in the RSVP so we can gauge interest. Ride sharing
        options such as <a href="https://www.lyft.com/" target="_blank">Lyft</a>
        and <a href="https://www.uber.com/" target="_blank">Uber</a> are also
        available in the area.
      </p>

      <h2>Flying In</h2>
      <p>
        The closest airports are all located in the San Francisco Bay Area. Both
        <b>San Francisco International Airport (SFO)</b> and <b>Oakland
        International Airport (OAK)</b> are approximately an hour and a half
        drive from the Geyserville / Healdsburg area. <b>San Jose International
        Airport (SJC)</b> is located to the south and is approximately a two
        hour drive.
      </p>
    </div>
  </div>
  {% endif %}
{% endblock %}
