{% extends "common/base.html" %}

{% block navbar %}{% include "common/navbar.html" %}{% endblock %}

{% block content %}
<div class="row my-2">
  <div class="col banner">
    <h1 class="display-4 text-white">Our Story</h1>
  </div>
</div>
<div class="row align-items-center">
  <div class="col col-md-auto d-flex justify-content-center">
    <div class="thumbnail-placeholder"></div>
  </div>
  <div class="col-md order-1">
    <h2>How We Met</h2>
    <p>
      I met Eric at a mutual friend’s going away party over five years ago
      (thanks Drea!). As the night was winding down, a few of my friends
      suggested to drive out to Golden Gate Park to catch the sunrise. Me, Eric,
      and 5 other adventurous souls ended up cramming into a five person car to
      chase the sunrise. That’s when Eric and I started talking. We weren’t able
      to catch the sunrise (when we arrived at the park, I checked my phone and
      discovered the sun wasn’t going to rise for another three hours, so the
      mission was a failure), but we were able to catch each other’s hearts :)
      (Yes, cheesy, I know haha). From there, Eric messaged me the very next day
      on Facebook, asking me if I was the one who mentioned participating in
      Tough Mudder later that month, since he was also going to be doing Tough
      Mudder. I responded back yes, the conversation kept flowing, and it’s all
      history from there.
    </p>
  </div>
</div>
<div class="row align-items-center">
  <div class="col col-md-auto d-flex justify-content-center">
    <div class="thumbnail-placeholder"></div>
  </div>
  <div class="col-md">
    <h2>The Proposal</h2>
    <p>
      Karen was pretty sure a proposal was coming but I refused to give any
      details. On a long weekend in 2017, Karen, a group of friends, and I went
      to Paso Robles. Karen grew convinced that it wasn't her weekend after we
      had visited a few wineries and there was no proposal. On the way back to
      San Francisco, a small group decided to hike in Pinnacles National Park,
      where I knew I would spring the trap (I mean pop the question). Despite me
      refusing to let her anywhere near my backpack and forcing her to stand on
      a ledge "for photos" while the group watched, she claims she had no idea.
      She said yes, making me a very lucky guy!
    </p>
  </div>
</div>
{% endblock %}
