{% extends "common/base.html" %}

{% block navbar %}{% include "common/navbar.html" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col banner registry">
    <h1 class="display-4 text-white">Registry</h1>
  </div>
</div>
<div class="row mt-4 text-justify">
  <p>
    It is common in Chinese culture for wedding guests to give a monetary gift
    to the bride and groom. Traditionally, the gift is provided in a red
    envelope called hóngbāo (红包) or lai see (利是). We would be honored to
    receive a red envelope in lieu of a registry gift, and will have a box at
    reception for the envelopes and cards.
  </p>
</div>
<div class="row justify-content-center">
  <div class="col-sm-auto text-center mt-4">
    <a href="https://www.amazon.com/wedding/eric-rowe-karen-chiu-geyserville-august-2018/registry/2Y3FZUPR4CIGN" target="_blank">
      <img src="/static/images/amazon_logo.svg" class="img-thumbnail registry-logo">
    </a>
  </div>
  <div class="col-sm-auto text-center mt-4">
    <a href="https://www.macys.com/wgl/registry/guest/6885776" target="_blank">
      <img src="/static/images/macys_logo.svg" class="img-thumbnail registry-logo">
    </a>
  </div>
</div>
<div class="row mt-4 text-justify">
  <h2>Red Envelopes</h2>
  <p>
    The tradition of giving red envelopes in Chinese culture is a monetary gift
    and a gesture of appreciation during holidays or special occasions such as
    weddings, graduations, or the birth of a baby.
  </p>
  <p>
    The red color of the envelope symbolizes good luck and is a symbol to ward
    off evil spirits. The amount you choose for the red envelope is very
    personal and subjective. However, the amount given in red envelopes should
    not include the number '4'&mdash;that means no $4, $40, or $400
    amounts&mdash;as the pronunciation of 'four' in Chinese sounds like the word
    for death. Amounts including the number '8' will bring good luck and
    prosperity.
  </p>
</div>
{% endblock %}
