{% extends "common/base.html" %}

{% block navbar %}{% include "common/navbar.html" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col banner rsvp">
    <h1 class="display-4 text-white">RSVP</h1>
  </div>
</div>
{% if ca_rsvp %}
{% if ca_rsvp.timestamp %}
<div class="row">
  <div class="col-lg-8 mt-4">
    {% if ca_rsvp.completed() %}
    <div class="card light-green">
      <div class="card-body">
        <p class="card-text">
          Thank you for your response! If you need to make any changes, please
          resubmit the form.
        </p>
      </div>
    </div>
    {% else %}
    <div class="card light-red">
      <div class="card-body">
        <p class="card-text">
          Thank you for your previous response! Please select your meal from
          the choices below.
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col-lg-8 my-4">
    <form class="needs-validation" novalidate action="/rsvp" method="post">
      <input type="hidden" name="location" value="ca" />
      <div class="mb-3">
        <p>
          Please let us know by June 15th if you can attend our wedding at
          5:00 PM, August 4th, 2018. We will offer the following menu options:
        </p>
        <ul>
          <li>
            Tri-Tip steak with sangiovese reduction, sun-dried tomatoes & olives
          </li>
          <li>Seared scallops, braised fennel & truffle butter</li>
          <li>
            Fontinella cheese ravioli with wild mushrooms & chardonnay-truffle
            butter
          </li>
        </ul>
        <p>
          We will also have a kids meal of breaded chicken tenders with house
          made mac'n cheese and fresh fruit.
        </p>
      </div>
      {% for guest_rsvp in ca_rsvp.adult_rsvps() %}
        {% set prefix = "adult_%d" % loop.index %}
        {% include "guest_rsvp.html" %}
      {% endfor %}

      {% set guest_rsvp = ca_rsvp.plus_one_rsvp() %}
      {% if guest_rsvp %}
        <div class="my-3">
          <label class="font-weight-bold" for="plus_one_name">Will a plus one be attending?</label>
          <input class="form-control mb-1" type="text"
                 id="plus_one_name" name="plus_one_name"
                 value="{{ guest_rsvp.name }}" placeholder="Name" />
          {% set id_prefix = "plus_one" %}
          <div id="{{ id_prefix }}_meal_choice" class="meal_choice">
            {% include "meal_choice_rsvp.html" %}
          </div>
        </div>
      {% endif %}

      {% if ca_rsvp.child_rsvps() or ca_rsvp.additional_child_rsvps() %}
        <div class="my-3">
          <p class="font-weight-bold">Will any children be attending?</p>

          {% for guest_rsvp in ca_rsvp.child_rsvps() %}
            {% set prefix = "child_%d" % loop.index %}
            {% include "guest_rsvp.html" %}
          {% endfor %}

          {% for guest_rsvp in ca_rsvp.additional_child_rsvps() %}
            <div class="my-3">
              {% set id_prefix = "additional_child_%d" % loop.index %}
              <input class="form-control mb-1" type="text"
                     id="{{ id_prefix }}_name" name="{{ id_prefix }}_name"
                     value="{{ guest_rsvp.name }}" placeholder="Name" />
              <div id="{{ id_prefix }}_meal_choice" class="meal_choice">
                {% include "meal_choice_rsvp.html" %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="mb-3">
        <label class="font-weight-bold" for="comments">Any additional comments?</label>
        <textarea class="form-control" id="comments" name="comments" rows="3" placeholder="Comments">{{ ca_rsvp.comments }}</textarea>
      </div>

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endif %}

<script>
(function() {
  'use strict';

  $(document).ready(function () {
    $('.needs-validation').submit(function(event) {
      if (this.checkValidity() === false) {
        event.preventDefault();
        event.stopPropagation();
      }
      this.classList.add('was-validated');
    });

    var rsvp_regex = RegExp('((?:adult|child)_\\d+)_(?:yes|no)');
    var rsvp_inputs = $('input').filter(function() {
      return rsvp_regex.test(this.id);
    });

    // Show meal choices if the answer is not yes
    $.map(rsvp_inputs, function(input) {
      if (input.checked && input.value === 'yes') {
        $('#' + input.id.match(rsvp_regex)[1] + '_meal_choice').show();
      }
    });

    // Set up listeners to hide or show meal choices on RSVP changes
    rsvp_inputs.change(function() {
      var e = $('#' + this.id.match(rsvp_regex)[1] + '_meal_choice');
      this.value === 'yes' ? e.show() : e.hide();
    });

    var plus_regex = RegExp('(additional_child_\\d+|plus_one)_name');
    var plus_inputs = $('input').filter(function() {
      return plus_regex.test(this.id);
    });

    // Show meal choices if the name is not blank
    $.map(plus_inputs, function(input) {
      if (input.value.length === 0) {
        $('#' + input.id.match(plus_regex)[1] + '_meal_choice').hide();
      }
    });

    // Set up listeners to hide or show meal choices on name changes
    plus_inputs.on('keyup blur change', function() {
      var e = $('#' + this.id.match(plus_regex)[1] + '_meal_choice');
      this.value.length !== 0 ? e.show() : e.hide();
    });
  });
})();
</script>
{% endblock %}
